@charset "UTF-8";
body {
  background-color: #eeeeee;
  color: #eeeeee;
}

#hbbtv-extension-bottom-ui {
  position: absolute;
  top: 728px;
  left: 2px;
  width: 1456px;
  height: 170px;
  z-index: 300;
  padding-left: 5px;
  border-radius: 7px;
  background-color: #333333;
  box-sizing: border-box;
}
// overlay just for tracking the focus state (red border around iframe)
#div-iframe-overlay {
  position: absolute;
  height: 728px;
  top: 0px;
  left: 0px;
  width: 1288px;
  margin: 0px;
  z-index: 5;
}
#iframe-plugin {
  position: absolute;
  left: 2px;
  top: 2px;
  border-style: hidden;
  border-width: 2px;
  height: 720px;
  width: 1280px;
  border: 2px solid #333333;
  &.focused {
    border: 2px solid #dc1414;
    border-style: inset;
  }
}

#remote {
  box-sizing: border-box;
  background-color: #333333;
  width: 170px;
  height: 724px;
  margin-top: 2px;
  padding-top: 11px;
  padding-bottom: 10px;
  border-radius: 7px;
  text-align: center;
  position: absolute;
  left: 1288px;
  top: 0px;
  z-index: 99999; // force remote to be set above other content
  font-size: 16px;
  box-sizing: border-box;
  div {
    font-size: 16px;
    overflow: visible;
    line-height: normal;
    position: static;
  }
  .button-remote {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    height: 38px;

    font-size: 140%;
    color: #aaaaaa;
    display: inline-block;
    justify-content: center;

    &:hover {
      color: #eeeeee;
      /*display: inline-block;*/
      cursor: pointer;
    }

    &:hover:not(:active) {
      /* now keep red background for 1s */
      transition: border-color 200ms, color 200ms;
    }

    &:active {
      border-color: #aaaaaa;
      color: #aaaaaa;
    }

    &:not(.inactive) > .remote-icon {
      fill: #aaaaaa;
    }

    &:not(.inactive):hover > .remote-icon {
      fill: #eeeeee;
    }

    &:hover:not(:active) > .remote-icon {
      transition: fill 200ms, color 200ms;
    }

    &.larger {
      width: 51px;
      height: 51px;
      font-size: 160%;
      margin-top: -6px;
      margin-bottom: -6px;
      margin-left: -6px;
      margin-right: -6px;
    }

    &.small {
      width: 25px;
      height: 25px;
      margin-left: 1px;
      margin-right: 1px;
      font-size: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.medium.color {
      width: 28px;
      height: 20px;
      padding-top: 2px;
      font-size: 100%;
      display: flex;
      margin-right: 3px;
      margin-left: 3px;
      align-items: center;
      justify-content: center;
    }
    &.right {
      width: 38px;
      height: 38px;
      margin-left: 11px;
    }

    &.left {
      margin-right: 11px;
      width: 38px;
      height: 38px;
    }

    &.up {
      margin-bottom: 5px;
      width: 38px;
      height: 38px;
    }

    &.down {
      margin-top: 5px;
      width: 38px;
      height: 38px;
    }

    &.return {
      width: 31px;
      height: 22px;
      padding-right: 3px;
      padding-top: 2px;
      padding-bottom: 10px;
    }

    &.color.inactive > div {
      opacity: 0.3;
    }
    &.inactive {
      cursor: auto;
    }
  }

  .remote-icon {
    width: 38px;
    height: 38px;
    fill: #222222;
  }
  .remote-icon.larger {
    width: 51px;
    height: 51px;
  }
  .remote-icon.small {
    width: 23px;
    height: 23px;
  }

  .line {
    margin-top: 11px;
    margin-bottom: 9px;
    display: flex;
    justify-content: center;
  }
  .line.small {
    margin-top: 7px;
    margin-bottom: 5px;
    padding-top: 7px;
    display: flex;
    justify-content: center;
  }
  .line.empty {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 15px;
  }

  .line.right-align {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 14px;
    display: flex;
    justify-content: flex-end;
  }

  .circle {
    width: 90%;
    //width:165px;
    border-style: solid;
    border-radius: 100%;
    border-color: #444444;
    border-width: 0px;
    background-color: #444444;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 3px;
    margin-left: 3px;
    //padding-top: 5px;
    //padding-bottom: 5px;
    display: inline-block;
  }
  .circle > .line:first-child {
    margin-top: 7px;
  }
  .red-button .cls-1 {
    fill: #dc1414;
  }

  .yellow-button .cls-1 {
    fill: #e6d200;
  }

  .green-button .cls-1 {
    fill: #5ad21e;
  }

  .blue-button .cls-1 {
    fill: #2846ff;
  }
  .color.inactive svg {
    opacity: 0.3;
  }
  .logo {
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 5px;
    margin-top: 5px;
    width: 100%;
    height: 36px;
  }
}
